module.exports = {
    google:{
        clientId:'700396169476-ioimb5v1nvtieav3sg46sp201feek5de.apps.googleusercontent.com' ,
        clientSecret:'qN-Rn99-wcadqfjvAhT-aW_I'
    },
    mongodb:{
        url:'mongodb+srv://Oauth:test@cluster0-aawa9.mongodb.net/test?retryWrites=true&w=majority'
    },
    key:{
        cookieKey:'gagaTrooperisthebest'
    }
}
