<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <style>
        nav{
            float:left; 
        }
        nav ul{
            display: flex;
            margin: 0;
            padding: 0;
        }
        nav ul li{
            position: relative;
            list-style-type: none;
            margin:30px;
        }
        nav:after{
            content: "";
            display: block;
            clear: both;
        }
        nav ul li a{
            text-decoration: none;
            color:#fff;
            padding: 20px;
            background-color: red;
        }
        nav ul li:hover a{
            color:#111;
            background-color: #fff;

        }
    </style>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li><br>
                
                <% if (!user.id) {%>
                    <li><a href="/">Login</a></li><br>
                <% }else{ %>
                <li><a href="/auth/logout">Logout</a></li><br>
                <% }%>
                
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav><br><br><br><br><br><br><br>
        <header>
            <h1>Logined succesfully <%= user.name %></h1>
            <img src='<%= user.thumbnail %>' width='25%' height="25%"/>
            <h2>Using google+</h2>
        </header>
    </body>
</html>
